@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

$mobile-size: 768px; 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.my-container{
    width: 1638px;
    margin: 0 auto;

    @media (max-width: $mobile-size ) {
        width: 100%;
        padding: 0 30px;
    }
}

.hero-main{
    width: 100%;
    background-image: url(img/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 55px;

    .navbar{
        padding-top: 60px;
    
        .navbar-toggler{
            border: 0;
            color: #222;
            box-shadow: none !important;
        }
    
        .logo{
            height: 52px;
            width: auto;
    
            @media (max-width: $mobile-size ) {
                height: 35px;
            }
        }
        ul.navbar-nav{
    
            @media (min-width: $mobile-size) {
                display: flex;
                align-items: center;
                gap: 60px;
                margin-left: 80px;
            }
    
            .nav-item{
                .nav-link{
                    padding: 0;
                    color: #222;
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        .buttons{
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 20px;
    
            .btn{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                width: 150px;
                height: 50px;
                padding: 10px;
                gap: 10px;
                flex-shrink: 0; 
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
    
            @media (max-width: $mobile-size) {
                padding-top: 20px;
                .btn{
                    padding: 8px 20px;
                }
            }
        }
    
    }

    .hero{
        padding: 0 40px;

        .hero-img {
            @media (max-width: $mobile-size) {
                display: none;
            }
        }

        .hero-content{

            @media (max-width: $mobile-size) {
                text-align: center;
            }
            .tag{
                color: #0C66EE;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                @media (max-width: $mobile-size) {
                    font-size: 14px;
                }
            }
            .title{
                color: #222;
                font-size: 68px;
                font-style: normal;
                font-weight: 700;
                line-height: 82px; 
                margin-top: 18px;
                position: relative;

                @media (max-width: $mobile-size) {
                    font-size: 34px;
                    line-height: 42px;
                }

                .colorful{
                    background: linear-gradient(169deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &::after{
                    content: "";
                    position: absolute;
                    top:-20px;
                    right: 220px;
                    width: 50px;
                    height: 50px;
                    background-image: url(/img/star1.png);
                    background-repeat: no-repeat;

                    @media (max-width: $mobile-size) {
                        display: none;
                    }
                }
            }
            .description{
                margin-top: 30px;
                color:#666;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                padding-right: 150px;

                @media (max-width: $mobile-size) {
                    display: none;
                }
            }
            .buttons{
                position: relative;
                margin-left: auto;
                margin-top: 40px;
                display: flex;
                align-items: center;
                gap: 20px;

                &::after{
                    content: "";
                    position: absolute;
                    bottom: -30px;
                    left: -70px;
                    width: 28px;
                    height: 28px;
                    background-image: url(/img/ellipse.png);
                    background-repeat: no-repeat;

                    @media (max-width: $mobile-size) {
                        display: none;
                    }
                }
        
                .btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 40px;
                    padding: 22px 38px;
                    gap: 10px;
                    flex-shrink: 0; 
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    
                @media (max-width: $mobile-size) {
                    padding: 12px 22px;
                    font-size: 11px;
                }

                    i{
                        margin-left: 10px;
                    }
                }

                @media (max-width: $mobile-size) {
                        flex-direction: column;
                        padding: 12px 22px;
                        font-size: 11px;
                    .btn{
                        width: 100%;
                    }
                    .dropdown{
                        width: 100%;
                    }
                }
                .dropdown-menu{
                    width: 240px;

                    .dropdown-item{
                        transition: all .2s ease;
                        
                        &:hover{
                            background-color: #0C66EE;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.summary-table{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    width: 100%;
    margin-top: -55px;
    background-color: #fff;
    border-radius: 40px;
    padding: 50px 0 35px 0;

    .table-col{
        padding: 0 46px;
        border-right: 1px solid #eee;
        
        @media (max-width: $mobile-size) {
            border-right: 0;
            margin-top: 50px;
        }
        
        .col-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            .link{
                color: #2F7CF0;
                text-decoration: none;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
        .col-body{
            margin-top: 30px;
            .row-names{
                color:#666;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.15px;

                .chart-name{
                    @media (max-width: $mobile-size) {
                        display: none;
                    }
                }
            }
            .row-item{
                border-bottom: 1px solid #eee;

                &:last-child{
                    border-bottom: 0;
                }
                .col{
                    height: 65px;
                    display: flex;
                    align-items: center;
                }

                .name{
                    color: #000;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    img{
                        width: 25px;
                        height: 25px;
                        margin-right: 12px;
                    }
                }

                .price{
                    color:#222;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    .green{
                        color: #28C165;;
                    }
                    .red{
                        color: #F4574D;
                    }
                }

                .chart{

                    img{
                        width: auto;
                        height: 42px;
                    }

                    @media (max-width: $mobile-size) {
                        display: none;
                    }
                }
            }
        }
    }

    .col:last-child .table-col{
        border-right: 0;
    }
}

.buy-trade{
    margin-top: 90px;
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        

    .image-btc{
        display: flex;
        justify-content: center;
        align-items: center;
        .btc-big-photo{
            
            @media (max-width: $mobile-size) {
                width: 263.086px;
                height: 259.587px;
            }
        }
    }

        .h2{
            color:#222;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 52px;
            padding-bottom: 25px;

            
            @media (max-width: $mobile-size) {
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    
        .p{
            color: #666;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            padding-bottom: 25px;

            @media (max-width: $mobile-size) {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 171.429% */
            }
        }
        .input-group-rate{
            display: flex;
            align-items: center;
            margin-bottom: 26px;
        
            .input-amount{
                width: 336px;
                height: 80px;
                flex-shrink: 0;
                border-radius: 22px;
                border: 1px solid #3984F4;
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media (max-width: $mobile-size) {
                    width: 50%;
                    
                }
            
                .amount{
                    padding-left: 20px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    background: linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    position: relative;

                    @media (max-width: $mobile-size) {
                        font-size: 10px;
                        
                    }
            
                    &::after{
                        content: '';
                        position: absolute;
                        top: -10px;
                        right: -30px;
                        width: 1px;
                        height: 40px;
                        background: linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%);

                        @media (max-width: $mobile-size) {
                            left: 70px;
                            
                        }
                    }
                }
            
                .input-Form{
        
                    ::placeholder{
                        opacity: 0.5;
                        color:  #222;
                        text-align: center;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 500;
                        line-height: normal;
                        margin-left: 25px;

                        @media (max-width: $mobile-size) {
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            margin-left: 0;

                        }
                    }
                    .input-control{
                        border: none;
                        outline: none;
                        color: #222;
                        margin-left: 25px;
                        text-align: center;

                        @media (max-width: $mobile-size) {
                            max-width: 80px;
                        }
                    }
                }
            
            
            }
            
            .input-rate{
                width: 210px;
                margin-left: 22px;
                height: 80px;
                flex-shrink: 0;
                border-radius: 22px;
                border: 1px solid #3984F4;
                display: flex;
                align-items: center;
                justify-content:center;
                
                
                @media (max-width: $mobile-size) {
                    max-width: 40%;
                }

                ::placeholder{
                    opacity: 0.5;
                    color:  #222;
                    text-align: center;
                    font-size: 14px;
                    font-style: italic;
                    font-weight: 500;
                    line-height: normal;
                    margin-left: 25px;

                    @media (max-width: $mobile-size) {
                        margin-left: 0;
                    }
                }
                .input-control{
                    text-align: center;
                    width: 70px;
                    border: none;
                    outline: none;
                    font-size: 14px ;
                    margin-left: 25px;

                    @media (max-width: $mobile-size) {
                        margin-left: 0;
                    }
                }
            }
        }
        .btn{
            width: 557px;
            height: 64px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 40px;

            @media (max-width: $mobile-size) {
                width: 100%;
            }
        }
    }
}

.advert{
    .my-container{
        width: 1860px;
        height: 389px;
        border-radius: 40px;
        background: linear-gradient(180deg, rgb(69, 67, 67) -9.25%, rgb(255, 255, 255) -9.25%, rgba(225, 225, 226, 0.9) 108.74%);

        @media (max-width: $mobile-size) {
            width: 100%;
            height: auto;
        }


        .h2{
            padding-top: 75px;
            color: #222;
            text-align: center;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .h3{
            padding-top: 20px;
            color:#666;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .logos{
            padding-top: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;

            @media (max-width: $mobile-size) {
                flex-direction: column;
                justify-content: start;
            }
        }
    }
}

.introducing{
    padding-top: 60px;

    
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .credit-card-photo{
            width: 860px;
            height:570px;

            @media (max-width: $mobile-size) {
                width: 100%;
                height: auto;
            }
        }
        .h1{
            color:#222;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 52px; 

            @media (max-width: $mobile-size) {
                font-size: 24px;
            }
        }
        .h2{
            color: #666;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @media (max-width: $mobile-size) {
                font-size: 14px;
            }
        }
        span{
            background: linear-gradient(169deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 52px;

            @media (max-width: $mobile-size) {
                font-size: 24px;
            }
        }
        .h3{
            color: #222;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;

            @media (max-width: $mobile-size) {
                font-size: 15px;
            }
        }
        .btn{
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-radius: 40px;
            border: 2px solid #3984F4;
            padding: 15px 20px;
            // background: linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%);
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;

            @media (max-width: $mobile-size) {
                margin-top: 30px;
                width: 100%;
                font-size: 15px;
            }
        }
        .p{
            padding: 10px 0;
            color: #666;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; 
        }
    }
}

.advanced-trading{
        background-image: url(/img/Rectangle.png);
        border-radius: 40px;
        width: 1860px;
        height: 756px;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: $mobile-size) {
            width: 100%;
            height: auto;
        }

    .container{
        
        .row{
            margin-top: 60px;

            @media (max-width: $mobile-size) {
                flex-direction: column-reverse;
            }

            img{

                @media (max-width: $mobile-size) {
                    width: 100%;
                    height: auto;
                }
            }

            .h1{
                margin-top: 50px;
                color:#222;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                @media (max-width: $mobile-size) {
                    font-size: 24px;
                }
            }
            span{
                background:  linear-gradient(169deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                @media (max-width: $mobile-size) {
                    font-size: 24px;
                }
            }
            .h2{
                color: #222;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                @media (max-width: $mobile-size) {
                    font-size: 16px;
                }
            }
            .p{
                color: #666;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px; 

                @media (max-width: $mobile-size) {
                    font-size: 14px;
                }
            }
            .buttons .btn{
                margin-top: 30px;
                width: 240px;
                height: 72px;
                font-size: 14px;
                border-radius: 40px;
                border: 2px solid #3984F4;

                @media (max-width: $mobile-size) {
                    width: 100%;
                    height: 60px;
                }
            }
        }
    }
}

.started-section{
    background-image: url(/img/started.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1860px;
    height: 646px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $mobile-size) {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .h1{
        color:#222;
        text-align: center;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .started-body{
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        @media (max-width: $mobile-size) {
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .body-item{

            img{
                width: 216px;
                height: 210px;

                @media (max-width: $mobile-size) {
                    width: 179px;
                    height: 150px;
                }
            }
            .h2{
                color:#222;
                text-align: center;
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                &::after{
                    content: '';
                    position: absolute;
                    background-image: url(/img/started-line.png);
                    top: 25%;
                    left: 25%;
                    // width: 197px;
                    // height: 12px;
                    width: 15.2%;
                    height: 12px;
                    flex-shrink: 0;
                }

                @media (max-width: $mobile-size) {
                    font-size: 20px;

                    &::after{
                        display: none;
                    }
                }
            }
            .p{
                color:#666;
                text-align: center;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                &::after{
                    content: '';
                    position: absolute;
                    background-image: url(/img/started-line.png);
                    top: 25%;
                    left: 58%;
                    // width: 197px;
                    // height: 12px;
                    width: 15.2%;
                    height: 12px;
                    flex-shrink: 0;
                }

                @media (max-width: $mobile-size) {
                    font-size: 14px;

                    &::after{
                        display: none;
                    }
                }
            }
        }
    }
}

.asked{
    
    .my-container{
        display: flex;
        align-items: center;

        @media (max-width: $mobile-size) {
            width: 100%;
            height: 100%;
            flex-direction: column;
        }
        .image-asked img{

            @media (max-width: $mobile-size) {
                width: 366px;
                height: 289px;
                flex-shrink: 0;
                }
        }
        .asked-right-panel{
            
            .h2{
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.08px;
                background:linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .h3{
                color: #000;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            .accordion{
                width: 750px;
                height: 100%;

                @media (max-width: $mobile-size) {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .button-back-top{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        .button-back {
            border-radius: 12px;
            border: 1px solid #DDD;
            background: #FAFAFA;
            display: flex;
            width: 180px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                text-decoration: none;
                color:#666;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

.footer{

    .my-container{
        border-top: 1px solid #DDD;

        @media (max-width: $mobile-size) {
            width: 100%;
        }
        

        .row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #DDD;

            @media (max-width: $mobile-size) {
                flex-direction: column;
            }

            .footer-flex{
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media (max-width: $mobile-size) {
                    flex-direction: column;
                    align-items: start;
                }
                img{

                    @media (max-width: $mobile-size) {
                        width: 89px;
                        height: 35.78px;
                        margin: 25px 0;
                    }
                }
                    .li{
                        padding-right: 55px;
                    }
                        a{
                            text-decoration: none;
                            color: #666;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;

                            @media (max-width: $mobile-size) {
                                color: #666;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                            }
                        }
            }

            .col-md-3{
                border-right: 1px solid #DDD;
                height: 356px;

                &:last-child{
                    border: none;
                }

                @media (max-width: $mobile-size) {
                    border-bottom: 1px solid #DDD;
                    border-right: none;
                }
            }
            .footer-flex-2{
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: $mobile-size) {
                    flex-direction: column;
                    align-items: start;
                    }
                
                    .li{
                        padding-right: 55px;
                        a{
                            text-decoration: none;
                            color: #666;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;

                            @media (max-width: $mobile-size) {
                                color: #666;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                            }
                        }
                    }
                    .h2{
                        color: #666;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                    .p{
                        color: #666;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; 
                    }
                .newsletter{
                        display: flex;
                        justify-content: start;
                        flex-direction: column;
                        
                        .newsletter-send{
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            .btn{
                                width: 55px;
                                height: 55px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                }
            }
        }
    }
}

.creative-by{
    display: flex;
    justify-content: center;
    align-items: center;

    .creat{
        color:#666;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}